.typewritertext__title{
    text-transform:uppercase;
  }
  .text-1{
    color:rgb(167, 53, 53);
    font-size: 1.4rem;
    font-family:'Akaya Telivigala'; 
    width: 80%;
  }
  .text-2{
    color:rgb(0, 255, 115);
    font-size: 1.4rem;
    font-family:'Akaya Telivigala'; 
    width: 80%;
  }
  .text-3{
    color:rgb(255, 187, 0);
    font-size: 1.4rem;
    font-family:'Akaya Telivigala'; 
    width: 80%;
  }
  .typewritertext-p{
    text-transform:capitalize;
    font-size:16px;
    color:gray;
    margin: 25px 0;
  }
  
  .explore{
    padding:.5rem 1.5rem;
    background:#000;
    color:#fff;
    border: none;
    outline: none;
    border-radius:50vw;
  
    
  }